*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif;
}

/* top container */

.topContainer{
    width: 100%;
    background: url('./background.png');
    background-position: center;
    background-size: contain;
    height: 100vh;
}

/* navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px 10px;
}

.navbarLinks a{
    text-decoration: none;
    margin: 10px;
    letter-spacing: 1px;
    color: #000;
    cursor: pointer;
    transition: all .4s ease-in-out;
}


/* logo container */

.navbar .logoContainer{
    cursor: pointer;
}

/* intro text */

.introText{
    text-align: center;
    margin-top: 20%;
}

.introText h1{
    margin: 25px;
    letter-spacing: 1px;
    font-size: 60px;
    cursor: pointer;

}

.introText a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    color: #fff;
    font-size: 45px;
    background-color: #000;
    padding: 15px;
    transition: all .4s ease-in-out;
}

.introText a:hover{
    background-color: #fff;
    color: #000;
}


/* mid Container */

.midContainer{
    background: url('./midBackground.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* about text */

.aboutText{
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 50%;
    margin: 0 auto;
    line-height: 45px;

}


.aboutText h1{
    font-size: 50px;
    letter-spacing: 2px;
    padding: 12px;
    border-bottom: 5px solid #000;
}

.aboutText p{
    padding-top: 3%;
    width: 50%;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}


/* skills container */

.skillsContainer{
    width: 100%;
    height: 100vh;
    background: url('./skillsBackground.png');
    background-position: center;
    background-size: cover;
}

/* skills ion icon */

.skillsContainer ion-icon{
    height: 100px;
    width: 100px;
    cursor: pointer;
}

/* skills text */

.skillsText h1{
    text-align: center;
    font-size: 50px;
}

/* skills section */

.skillsSection{
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 50%;
    justify-content: space-around;
    height: 100vh;
    font-size: 30px;
    letter-spacing: 2px;
}

/* skill images */

.skill5img{
    background: url('https://cdn0.iconfinder.com/data/icons/laboratory-38/32/30_Litmus-1024.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}

.skill6img{
    background: url('https://cdn0.iconfinder.com/data/icons/animals-87/24/monkey-face-1024.png');
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    cursor: pointer;
}

/* portfolio container */

.portfolioContainer{
    width: 100%;
    height: 100vh;
    background: url('./portfolioBackground.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* project */

.project{
    padding: 50px;
    margin: 0 auto;
    text-align: center;
}

/* portfolio text */

.portfolioText h1{
    font-size: 50px;
    letter-spacing: 2px;
}

/* projects container */

.projectsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.projectsContainer h3{
    font-size: 25px;
    letter-spacing: 2px;
}

/* project images */

.project1img{
    background: url('https://www.revinate.com/wp-content/uploads/travelocity.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}

.project2img{
    background: url('./ecosa.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}

.project3img{
    background: url('./asos.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}

.project4img{
    background: url('https://www.revinate.com/wp-content/uploads/travelocity.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
}

/*   projectLinks     */

.projectLinks a{
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    margin: 10px;

}

/* contactContainer */

.contactContainer{
    width: 100%;
    height: 70vh;
    background: url('./contactBackground.png');
    background-position: center;
    background-size: cover;
    text-align: center;
}

.contactText h1{
    padding-top: 20%;
}

/* formContainer */

.formContainer input{
    margin: 20px;
}

.formContainer .nameContainer{
    margin-top: 5%;
}

.nameContainer input{
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #000;
    outline: none;
}

.formContainer textarea{
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #000;
    margin: 25px;
    outline: none;
}

.formContainer button{
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 50px;
    background-color: #fff;
    border: 3px solid #000;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    transition: all .4s ease-in-out;
}


.formContainer button:hover{
    color: #fff;
    background-color: #000;
}


/* footer container */

.footerContainer{
    text-align: center;
    height: 8.5vh;
    width: 100%;
    background-color: #000;
    color: #fff;
}


.footerContainer h3{
    padding: 20px;
    letter-spacing: 2px;
}


/* media queries */

/* /* ----------- iPhone 5, 5S, 5C and 5SE Portrait ----------- */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .topContainer{
        width: 35rem;
    }

    .midContainer{
        width: 35rem;
    }

    .midContainer .aboutText h1{
        text-align: center;
        width: 400px;
    }

    .midContainer .aboutText p{
        width: 35rem;
        font-size: 26px;
    }

    .skillsContainer{
        width: 35rem;
        height: 65rem;
    }

    .portfolioContainer{
        width: 35rem;
        height: 100vh;
        padding-top: 30rem;
    }

    .portfolioContainer .projectsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .projectsContainer{
        height: 100rem;
        margin-top: 10%;
    }

    .contactContainer{
        width: 35rem;
        height: 40rem;
        padding-top: 50rem;
    }

    .footerContainer{
        width: 35rem;
        margin-top: 35rem;
        overflow-y: hidden;
    }

    .footerText h3{
        padding: 10px;
    }

}




/* iPhone 6, 6S, 7 and 8 Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .topContainer{
        width: 50rem;
        height: 100vh;
        margin-bottom: 20%;
    }

    .midContainer{
        width: 50rem;
        height: 30rem;
        padding-top: 5%;
    }

    .midContainer .aboutText h1{
        text-align: center;
        width: 400px;
    }

    .midContainer .aboutText p{
        width: 35rem;
        font-size: 26px;
    }

    .skillsContainer{
        width: 50rem;
        height: 65rem;
        margin-top: 30%;
    }

    .portfolioContainer{
        width: 50rem;
        height: 100vh;
        padding-top: 30rem;
    }

    .portfolioContainer .projectsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .projectsContainer{
        height: 100rem;
        margin-top: 10%;
    }

    .contactContainer{
        width: 50rem;
        height: 40rem;
        padding-top: 50rem;
    }

    .footerContainer{
        width: 50rem;
        margin-top: 35rem;
        overflow-y: hidden;
    }

    .footerText h3{
        padding: 10px;
    }

}



/*-- iPhone 6+, 7+ and 8+  Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

    .topContainer{
        width: 50rem;
        height: 100vh;
        margin-bottom: 20%;
    }

    .midContainer{
        width: 50rem;
        height: 30rem;
        padding-top: 5%;
    }

    .midContainer .aboutText h1{
        text-align: center;
        width: 400px;
    }

    .midContainer .aboutText p{
        width: 35rem;
        font-size: 26px;
    }

    .skillsContainer{
        width: 50rem;
        height: 65rem;
        margin-top: 30%;
    }

    .portfolioContainer{
        width: 50rem;
        height: 100vh;
        padding-top: 30rem;
    }

    .portfolioContainer .projectsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .projectsContainer{
        height: 100rem;
        margin-top: 10%;
    }

    .contactContainer{
        width: 50rem;
        height: 40rem;
        padding-top: 50rem;
    }

    .footerContainer{
        width: 50rem;
        margin-top: 35rem;
        overflow-y: hidden;
    }

    .footerText h3{
        padding: 10px;
    }

}

/*  iPhone X Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 


    .topContainer{
        width: 50rem;
        height: 100vh;
        margin-bottom: 20%;
    }

    .midContainer{
        width: 50rem;
        height: 30rem;
        padding-top: 5%;
    }

    .midContainer .aboutText h1{
        text-align: center;
        width: 400px;
    }

    .midContainer .aboutText p{
        width: 35rem;
        font-size: 26px;
    }

    .skillsContainer{
        width: 50rem;
        height: 65rem;
        margin-top: 30%;
    }

    .portfolioContainer{
        width: 50rem;
        height: 100vh;
        padding-top: 30rem;
    }

    .portfolioContainer .projectsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .projectsContainer{
        height: 100rem;
        margin-top: 10%;
    }

    .contactContainer{
        width: 50rem;
        height: 40rem;
        padding-top: 50rem;
    }

    .footerContainer{
        width: 50rem;
        margin-top: 35rem;
        overflow-y: hidden;
    }

    .footerText h3{
        padding: 10px;
    }

}




